<div class="row p-0 m-0">

  <div class="col-sm"></div>

  <div class="col-sm p-5">

    <h2 class="form-signin-heading">Reset Password</h2>

    <br>
  
<span>Password: </span>

    <label for="inputPassword" class="sr-only">Password</label>

    <input type="password" id="inputPassword" class="form-control" [(ngModel)]="password" placeholder="Password" required>

    <br>

    <span>Confirm Password: </span>

    <label for="confirmInputPassword" class="sr-only">Password</label>

    <input type="password" id="confirmInputPassword" class="form-control" [(ngModel)]="confirmPassword" placeholder="Confirm Password" required>

    <br>

    <button class="btn btn-lg btn-primary btn-block" type="button" (click)="resetPassword()">Reset Password</button>
    </div>
  

   



    