


<div class="container mt-5 text-center">
        <h1 class="text-center">{{todos.name}}</h1>
        <div class="col-md-6 text-center mx-auto"><strong><input type="text" #newtoDo class="form-control" placeholder="Add a new todo item"></strong>
            <button id="addList" (click)="addtoList(newtoDo.value)" class="btn btn-success mt-2 mx-auto center">Add to List</button>
        </div>
    <div class="row">
        <div class="col-md-6">
            <div class="mt-1">
             
                    
            <br/><br/>
                    <h3>Open items</h3><div *ngIf="todos.listItems && todos.listItems.length !=0"><hr/></div>

                    <ul class="list-group" *ngFor="let item of todos.listItems; let i = index;">    
                        <li class="list-group-item clearfix">
                        <h5 class="header">
                                
                                
                                <label (click)="g()" *ngIf="item.edit"><input id="editText{{i}}" name="editText" type="text" value="{{item.text}}"></label>
                                
                                <label *ngIf="!item.edit">{{item.text}}</label>
                                <span class="pull-right button-group ">
                                    
                                    <button type="button" class="btn btn-warning" (click) = "itemDone(i)" data-toggle="tooltip" title="Mark as Done"><i class="fa fa-check" aria-hidden="true"></i></button>   
                                    <button type="button" class="btn btn-primary " (click) = "editList(i)" data-toggle="tooltip" title="Edit"><i class="fa fa-edit" aria-hidden="true"></i></button> 
                                    <button type="button" class="btn btn-danger" (click) = "deleteItem(i,item.text)" data-toggle="tooltip" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </span>
                              
                            </h5>           
                        
            
                       
                    </li>
                    </ul>
                <hr>
                <div *ngIf="todos.listItems && todos.listItems.length !=0">
                <div class="todo-footer">
                    <strong><span class="count-todos">Items Left: {{todos.listItems.length}}</span> </strong>
                </div>
            </div>
            </div>
        </div>
        
        <div class="col-md-6 text-center mt-5 ">
            <div>
             <h3 class="ml-4">Already Done</h3>
             <hr/>
                <ul *ngFor="let item of newTodo">
                    <h5><li class="ml-auto pull-right "><del>{{item.text}}</del></li></h5><br/>
                    
                </ul>
            </div>
        </div>
    </div>
    <br/><br/><br/><br/><hr/>
    <button id="addList" (click)="clearAll()" class="btn btn-danger mt-5  mr-4 center">Clear All</button>   
    <button id="addList" (click)="clearActiveItems()" class="btn btn-danger mt-5 mr-4 center">Clear Active Items</button>   
    <button id="addList" (click)="clearDoneItems()" class="btn btn-danger mt-5 mr-4 center">Clear Done items</button>  
</div>

