<div class="container">
  <br/>
<div class="row justify-content-center">
                      <div class="col-12 col-md-10 col-lg-8">
                          <h3 class="text-center mb-3 mx-auto">Search for a friend</h3>
                          <form #myForm="ngForm" class=" mb-3" >
                              <div class=" mx-auto">
                                  
                                  <app-friend-search (userSelected) = searchFriend(myForm,$event)></app-friend-search>
                                  
                                  <!--end of col-->
                              </div>
                            
                          </form>
                      </div>
                      
                      <!--end of col-->
                  </div>
               
</div>





  <div class="list-content" mt-5 *ngIf="receiverName">
    <ul class="list-group">
      <li href="#" class="list-group-item title">
        Search Result
      </li>
      
      <li class="list-group-item text-left mt-4">
          
        <label class="name">
         <h4>{{receiverName.firstName}} {{receiverName.lastName}}</h4> 
        </label><br>
        <label class="email">
            <h5>{{receiverName.email}} </h5> 
           </label>
        <label class="pull-right">
            <a  class="btn btn-success" href="javascript:void(0)" (click)="sendFriendRequest()" title="Send Friend Request">*Send Friend Request</a>
            <a  class="btn btn-danger" href="javascript:void(0)" (click)="receiverName=''" title="Cancel">Cancel</a>
        </label>
        <div class="break">*User needs to be online for friend request to be successfully sent</div>
      </li>
     
    </ul>
  </div>
                 <hr/>
                 
                 <div class="list-content" mt-5 *ngIf="userInfo && userInfo.friendRequests && userInfo.friendRequests.length!=0">
                  <ul class="list-group">
                    <li href="#" class="list-group-item title text-center">
                      <h5>Friend Requests</h5>
                    </li>
                    
                    <li class="list-group-item text-left mt-4" style="background-color: lightgoldenrodyellow" *ngFor="let userInfo of userInfo.friendRequests">   
                      <label class="name">
                       <strong>{{userInfo.firstName}} {{userInfo.lastName}}</strong>
                       </label><br>
                       <label class="email">
                           {{userInfo.email}} 
                          </label>
                       <label class="pull-right">
                          <a  class="btn btn-success" href="javascript:void(0)" (click)="acceptFriendRequest(userInfo)" title="Accept Friend Request">Accept</a>
                          <!-- <a  class="btn btn-danger" href="javascript:void(0)" (click)="cancelRequest()" title="Cancel">Cancel</a> -->
                      </label>
                    </li>
                   
                  </ul>
                </div>


                <hr/>
                 
                <div class="list-content"  mt-5 *ngIf="userInfo && userInfo.friends">
                 <ul class="list-group" >
                   <li href="#" class="list-group-item title text-center">
                    <h5> Friends </h5>
                   </li>
                   
                   <li class="list-group-item text-left mt-4" style="background-color: lightgoldenrodyellow" *ngFor="let userInfo of userInfo.friends">   
                     <label class="name">
                      <strong> {{userInfo.firstName}} {{userInfo.lastName}}</strong>
                      </label><br>
                      <label class="email">
                          {{userInfo.email}}
                         </label>
                     
                    
                   </li>
                  
                 </ul>
               </div>

               
               <hr/>



               <div class="list-content" mt-5 *ngIf="userList">
                <ul class="list-group">
                  <li href="#" class="list-group-item title text-center">
                    <h5>All Online Users</h5>
                  </li>
                  
                  <li class="list-group-item text-left mt-4" style="background-color: lightgoldenrodyellow" *ngFor="let userInfo of userList">   
                    <i class="online"></i>
                    <label class="name ml-3">
                      <strong>  {{userInfo.fullName}}</strong>
                     </label><br>
                     <label class="email ml-3">
                         {{userInfo.email}} 
                        </label>
                    
                   
                  </li>
                 
                </ul>
              </div>


               
                 
              