.list-content{
    min-height:300px;
   }
   .list-content .list-group .title{
     background:darkslategrey;
     border:2px solid #DDDDDD;
     font-weight:bold;
     color:#FFFFFF;
   }
   .list-group-item img {
       height:80px; 
       width:80px;
   }
   

   .break{
       width:100%;
       margin:20px;
   }

   .online{

    height: 10px;
    width: 10px;
    background-color:green;
    border-radius: 50%;
    display: inline-block;
  }
   